<div class="main-container">
<h1>Hola, este es m primer proyecto de Angular  </h1>
<h2>{{welcome}}</h2>
<ul>
  <li *ngFor="let task of tasks()">
    {{task}}
  </li>
</ul>
<hr>
<h2> {{'Hola!'.repeat(4)}} </h2>
<p>La suma de 3+3 es {{ 3+3}}</p>
<p>Hola soy {{name()}} y tengo {{age}} años.</p>
<hr>
<img [src]="image" [alt]="AltImage1">
<input type="text" [value]="name()"> <!-- enlazo la variable a una propiedad de un elemento  -->
<button [disabled]="disable"> click here! </button>
<hr>

<div class="profile-container">
  <h2>Tu perfil</h2>
  <img [src]="person().avatar" alt="" class="profile-image">
  <p>Nombre: {{person().name}} </p>
  <P>Edad:{{person().age}} </P>
</div>

<hr>
<h1>Event binding</h1>
<button (click)="clickhandler()" class="main-button"> Click here! </button>
<button (dblclick)="clickhandler()" class="main-button">Double click me!</button>
<h1>change</h1>
<input type="number" name="User age" id="" [value]="person().age" (change)="changeHandler($event)">
<hr>
<h1>Keydown</h1>
<input type="text" name="" id="" (keydown)="keydownHandler($event)">
<h1>Keydown usando atajos de teclado (shift+t)</h1>
<input type="text" name="" id="" (keydown.shift.t)="keyDownShitT()">

<hr>
<h1>Signals</h1>
<input type="text" name="" id="" [value]="name()" (change)="changeHandler($event)">
<p>Nombre: {{name()}}</p>
<p>Nombre: {{name()}}</p>

<hr>
<h1>Signals en listas</h1>
<p>Tamaño de la lista: {{tasks().length}}</p>
<ul>
  <li *ngFor="let task of tasks(); index as i">
    {{ i }} {{task}}
  </li>
</ul>
<hr>
<div *ngIf="1!==1">
  <p>Contenido con Ng if</p>
</div>
<hr>
<div>
  <h2>Mostrar en función si el Nombre es: Facu</h2>
  <input type="text" name="" id="" placeholder="Ingrese su nombre" (change)="changeHandler($event)">
  <p *ngIf="name() === 'Facu'">Hola, binevenido {{name()}}</p>
</div>

<div>
  <h2>NG if con objetos</h2>
  <p *ngIf="person().name == 'Facundo' && person().age >= 18"; else elseblock > Soy {{person().name}} y tengo {{person().age}} años.</p>
</div>
<ng-template #elseblock>
  <p>El usuario no cumple con la condiciones</p>
</ng-template>
<hr>
<h1>NG switch</h1>
<p>Ingrese el nombre de usuario: </p>
<input type="text" [value]="person().name" (change)="changeName($event)">
<div [ngSwitch]="person().name">
  <p *ngSwitchCase="'facundo'">Usuario: {{person().name}}, Bienvenido!</p>
  <p *ngSwitchCase="'jorge'" >Usuario: {{person().name}}, Bievenido!</p>
  <p *ngSwitchCase="'roberto'">Usuario: {{person().name}}, Bienvendio!</p>
  <p *ngSwitchCase="'sofia'">Usuario: {{person().name}}, Bienvendio!</p>
  <p *ngSwitchDefault>Usuario no encontrado.</p>
</div>
<hr>
<h2>Controlando inputs</h2>
  <input type="color" [formControl]="colorCtrl">
  <p>Valor del color: {{ colorCtrl.value }}</p>
  <hr>
  <h2>Clases</h2>
  <input type="text">
  <hr>

  <h1>Estilos al modo angular</h1>
  <input type="number" name="" id="" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>

  <hr>
  <h1>Agregando clases</h1>
  <!-- activar clases de manera dinámica -->

  <p>Ingresa tu nombre</p>
  <input type="text" name="" id="">

</div>

